<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Add car</title>
  </head>
  <body>
    <h1>Add new car</h1>
    <form action="/cars" method="post">
      <label for="makeModel">Model</label>
      <input id="makeModel" name="makeModel" type="text">

      <label for="price">Price</label>
      <input id="price" name="price" type="text">

      <label for="miles">Mileage</label>
      <input id="miles" name="miles" type="text">

      <label for="message">Leave a message</label>
      <input id="message" name="message" type="text">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
