<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Search car</title>
  </head>
  <body>
    <h1>Search car</h1>
    <form action="results" method="post">
      <label for="maxPrice">Max Price</label>
      <input id="maxPrice" name="maxPrice" type="text">

      <label for="maxMiles">Max Miles</label>
      <input id="maxMiles" name="maxMiles" type="text">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
